/* Mise en page du slider */
.degrade{
    background-size: cover;
    position: absolute;
    z-index: -10;
}
#quotes{
    width: 120px;
    position: absolute;
    z-index: 20;
    margin-left: 15%;
    margin-top: 3%; 
} 

header img {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    position: relative;
    z-index: 1;
}
#slider{
    position: absolute;
    width: 80%;
    margin-top: -40%;
    margin-left: 10%;
    z-index: 30;

}
#smile{
    font-size: 900%;
    color: white;
    font-family: 'Lucida Sans', Arial, sans-serif ;
    position: relative;
    z-index: 20;
    margin-left: 45%;
}
#cost{
    font-size: 300%;
    color: white;
    font-family: 'Lucida Sans', Arial, sans-serif ;
    position: relative;
    z-index: 20;
    margin-left: 47%;
    margin-top: -5%;
}
#ronds{
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    position: absolute;
    z-index: 20;
    margin-left: 50%;
    margin-top: -5%;
}
#cercle{
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid black;
}
#cercle2{
    background-color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid white;
}
#most{
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', Arial, sans-serif ;
    margin-top: 3%;
}
#free{
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', Arial, sans-serif ;
    font-size: xx-large;
    font: bolder;
    margin-top: -1%;
}
.use{
    display: flex;
    justify-content: center;
    margin-top: 2%; 
}
.use1{
    display: flex;
    justify-content: center;
    margin-top: -1%;
}
.separateur{
    background-color: black;
    border-radius: 20%;
    width: 70px;
    height: 3px;
    border: 1px solid black;
    margin-left: 50%;
}
#citation{
    background-color: rgb(254, 233, 227);
    width: 80%;
    margin-left: 10%;
}
.love{
    padding: 5%
}
.love2{
    padding-left: 5%;
}
#etc{
    display: flex;
    justify-content: space-around;
    width: 50px;
    margin-left: 5%;
    padding-bottom: 5%;
}
#cercle3{
    background-color: grey;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    border: 1px solid grey;
}
#cercle4{
    border-radius: 50%;
    width: 5px;
    height: 5px;
    border: 1px solid grey;
}
.deux{
    display: flex;
}
.separateur1{
    background-color: black;
    border-radius: 20%;
    width: 70px;
    height: 3px;
    border: 1px solid black;
}
.trois{
    background-color: white;
}
#titre{
    margin-left: 10%;
    padding-top: 2%;
}
#container{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    
}
#alive{
    grid-column: 1/2;
    grid-row: 1;
    border: 1px solid silver;
    padding-top: 5%;
    padding-left: 5%;
}

#loves{
    grid-column: 2/3;
    grid-row: 1;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    padding-top: 5%;
    padding-left: 5%;
    margin: 0;
}
#moment{
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    padding-top: 5%;
    padding-left: 5%;
}
#health{
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    padding-top: 5%;
    padding-left: 5%;
}
.contenu{
    margin-left: 4%;
}
#reasons{
    display: block;
    margin: auto;
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    font-size: smaller;
}
.quatre{
    margin-top: 2%;
    background-color: white;
}
#paragraphe{
    color: white;
    font-size: xxx-large;
    position: relative;
    z-index: 20;
    margin-top: -28%;
    text-align: center;
    line-height: 50px;
}
#day{
    color: white;
    font-style: italic;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.cinq{
    background-color:silver;
    padding-bottom: 2%;
}
#titre2{
    margin-left: 10%;
    margin-top: 12%;
}
.boite{
    display: grid;
    grid-template-columns: 50%, 25%, 25%;
    grid-template-rows: repeat(2, 1fr);
}    
#on{
    grid-column: 1/2;
    grid-row: 1/3;
    padding-left: 10%;
    padding-top: 5%;
}
#two{
    grid-column: 2/4;
    grid-row: 1/2;
    padding-top: 4%;
    padding-left: auto;
}
#three{
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 15%;
}
#four{
    grid-column: 3/4;
    grid-row: 2/3;
    padding-top: 12%;
    padding-right: 20%;
}
.six{
    background-color: white;
    display: grid;
    grid-template-columns: 20%, 20%, 20%, 20%;
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    margin-bottom: 3%;
}
.six h4{
    font-size: smaller;
}
#brow{
    margin-left: -14%;
}
.menu{
    grid-column: 1/2;
}
.menu li{
    list-style: none;
    font-size: smaller;
}
.menu li a{
    color: black;
}
#braow{
    margin-left: -12%;
}
.menu1{
    grid-column: 2/3;
}
.menu1 li{
    list-style: none;
    font-size: smaller;
}
.menu1 li a{
    color: black;
}
.menu2{
    grid-column: 3/4;
}
.menu2 p{
    font-size: smaller;
}
.formulaire{
    grid-column: 4/5;
}
#news{
    font-size: smaller;
    line-height: 2px;
    padding-top: 2%;
}
#submit{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    font-size: smaller;
}

