/* Mise en page du slider */
.degrade{
    background-image:linear-gradient(white,grey);
    background-size: cover;
    position: absolute;
    z-index: -10;
}
#quotes{
    width: 120px;
    position: absolute;
    z-index: 20;
    margin-left: 15%;
    margin-top: 3%; 
} 
header img {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    position: relative;
    z-index: 1;
}
#smile{
    font-size: 900%;
    color: white;
    font-family: 'Lucida Sans', Arial, sans-serif ;
    position: relative;
    z-index: 20;
    margin-left: 45%;
}
#cost{
    font-size: 400%;
    color: white;
    font-family: 'Lucida Sans', Arial, sans-serif ;
    position: relative;
    z-index: 20;
    margin-left: 45%;
}
#ronds{
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    

}
#cercle{
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid black;
}
#cercle2{
    background-color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid white;
}
