/* Mise en page du slider */
.degrade{
    background-image:linear-gradient(white,grey);
}
header{
   
}  
 /* #ours{ */
     position: fixed;
     top: 0;
     left: 0;

     min-width: 1366px;
     min-height: 100%;
 }  
img .ours{
    min-height: 100%;
    min-width: 1366px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
}
@media screen and (max-width: 1366px){
    left: 50%;
    margin-left: -512px;
}
